@import "module/base.scss";
@import "module/header.scss";
@import "module/footer.scss";

body {
    background: #f4f4f4;
}

.login-wrap {
    width: 100%;
    height: auto;

    .login-page {
        max-width: 360px;
        min-height: 540px;
        margin: 0 auto;
        padding-top: 2.98667rem;
        padding-bottom: 2.13333rem;

        .login-logo {
            width: 7.25333rem;
            height: 2.70933rem;
            margin: 0 auto;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .login-form {
            max-width: 360px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 50px;

            .input-group {
                width: 100%;
                font-size: 18px;
                height: 1.70667rem;
                padding: 0 .21333rem;
                line-height: 1.70667rem;
                display: flex;
                border-bottom: 1px solid #c5c5c5;
                margin-bottom: .64rem;

                span {
                    color: #333;
                    // display: block;
                    padding: .21333rem .512rem .59733rem 0;
                    line-height: 1.28rem;
                    height: 100%;
                }

                .input {
                    width: 100%;
                    height: 100%;
                    flex: 1;
                    border: none;
                    outline: none;
                }
            }

            button {
                margin-top: 1.92rem;
                width: 100%;
                height: 2.13333rem;
                border: none;
                display: block;
                padding: 0 .42667rem;
                font-size: .768rem;
                text-align: center;
                line-height: 2.176rem;
                outline: none;
            }
        }
    }
}